
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Курсы валют</h3>
    </div>
    <div class="panel-body">
        <ul id="currencyList" class="list-group">
            <li class="list-group-item list-group-item-info">Идет загрузка</li>
        </ul>

    </div>
    <div class="panel-footer">
        <div class="form-inline">
            <div class="form-group">
                <label for="currencyCode">Код валюты например AUG или USD</label>
                <input type="text" class="form-control" id="currencyCode" placeholder="Код валюты например AUG или USD">
            </div>

            <a id="addCurrency" href="javascript:void(0)" class="btn btn-success">Добавить</a>
        </div>
    </div>
</div>