<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Zend Framework Quickstart Application</title>
    <?php echo $this->headLink()->appendStylesheet('/static/lib/bootstrap/css/bootstrap.min.css') ?>
    <?php echo $this->headLink()->appendStylesheet('/static/lib/bootstrap/css/bootstrap-theme.min.css') ?>
    <?php echo $this->headScript()
        ->prependFile( "/static/lib/jquery/jquery-2.1.4.min.js", $type = 'text/javascript' ); ?>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Курсы валют</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <?php echo $this->layout()->content ?>
    </div>

    <?php echo $this->headScript()
        ->prependFile( "/static/js/exchangeRates.js", $type = 'text/javascript' ); ?>
</body>
</html>